<html>
<head>
   <title>Daisy Disk node-webkit - fork from size checker - authored by sivagao</title>
   <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
   <link href="css/style.css" rel="stylesheet">
  <script src="js/jquery.js"></script>
  <script src="js/lzadialog.js"></script>
  <script src="js/d3.v3.min.js"></script>
</head>
<body>

<!-- landpage - select input field here -->
<div class="selectFolder" ng-controller="selectFolderCtrl" ng-click="getDirHandler()">
  <button id="selectButton" class="myButton">
    Select a directory or drag&drop here</button>
</div>

<!-- loading indicator -->
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<!-- visualization by filetype or directory -->
<ul class="tabs">
    <li>
        <input type="radio"  name="tabs" id="tab1">
        <label for="tab1">By Type</label>
        <div id="tab-content1" class="tab-content animated fadeIn">
            <svg id="chart2"></svg>
            <div id="tooltip" class="hidden">
                <span id="chart2Per1">A</span> <br>
                <span id="chart2Per2">100</span>
            </div>
        </div>
    </li>
    <li>
        <input type="radio" checked name="tabs" id="tab2">
        <label for="tab2">Overall</label>
        <div id="tab-content2" class="tab-content animated fadeIn">
            <div id="chart1" class="sun-busrt">
              <div sun-busrt-view></div>
                <div id="explanation">
                    <span id="percentage"></span><br/>
                    <span id="percentageDetail"></span>
                </div>
            </div>
            <div class="info-table" table-info-view></div>
            <div id="detailInfo"></div>
        </div>
    </li>
</ul>

<!-- template for tableInfo -->
<script type="text/ng-template" id="infoTable.html">
  <table>
    <tbody>
      <!-- <tr>
        <td>color-icon</td>
        <td>{{filename}}</td>
        <td>5.5m</td>
      </tr> -->
      <p>{{data.name}} - todo: absoulute path</p>
      <tr ng-repeat="item in data.itemList" ng-click="showDetail(item)">
        <!-- 普通文件无法detail, 然后有个big small的toggle -->
        <td>color-icon</td>
        <td>{{item.name}}</td>
        <td>{{item.size}}</td><!-- filter -->
      </tr>
      <tr ng-show="!hasShowSmall" ng-click="showSmallHandler()">
        <td>color-icon</td>
        <td>... smaller objects ...</td>
        <td>5.5m</td><!-- filter and total size for smaller objects -->
      </tr>
    </tbody>
  </table>
</script>

<script src="js/angular.js"></script>
<script src="js/app/services.js"></script>
<script src="js/app/filters.js"></script>
<script src="js/app/sunBusrtView.js"></script>
<script src="js/app/tableInfoView.js"></script>
<script>
    $( document ).ready(function() {
        $(".tabs").hide();
    });

    // show devtool icon
    require('nw.gui').Window.get().showDevTools();
    var _ = require('./js/lodash.min');

    var app = angular.module('diasyDiskApp', ['visServices', 'visFilters', 'tableInfoView', 'sunBusrtView']);
    // define route here

    app.controller('selectFolderCtrl', ['$scope', 'visHelper', function($scope, visHelper){
      $scope.getDirHandler = function (){
        LZADialog.selectDir(function(file){
                console.log('complete callback: '+ file.path);
                var filePath =  file.path;
                // 放个message
                // 调取serice去scan path
                visHelper.scan(filePath);
                // scan(filePath);
            }
        );
      };
    }]);

    // app.controller('sunBusrtViewCtrl', ['', function(){
    //   // watch scan data emit by service
    // }]);

    // app.controller('tableInfoViewCtrl', ['', function(){
    //   // watch scan data emit by service
    // }]);

    angular.bootstrap(document, ['diasyDiskApp']);
</script>
<script src="js/rightclick.js"></script>
<!-- <script src="js/rendering.js"></script> -->
</body>
</html>



