<html>
<head>
   <title>Daisy Disk node-webkit - fork from size checker - authored by sivagao</title>
   <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
   <link href="css/style.css" rel="stylesheet">
  <script src="js/jquery.js"></script>
  <script src="js/lzadialog.js"></script>
  <script src="js/d3.v3.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body>

<!-- landpage - select input field here -->
<div class="selectFolder" ng-controller="selectFolderCtrl" ng-click="getDirHandler()">
  <button id="selectButton" class="myButton">
    Select a directory or drag&drop here</button>
</div>

<!-- loading indicator -->
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<!-- visualization by filetype or directory -->
<ul class="tabs">
    <li>
        <input type="radio"  name="tabs" id="tab1">
        <label for="tab1">By Type</label>
        <div id="tab-content1" class="tab-content animated fadeIn">
          <div sun-busrt-view></div>
            <svg id="chart2">

            </svg>
            <div id="tooltip" class="hidden">
                <span id="chart2Per1">A</span> <br>
                <span id="chart2Per2">100</span>
            </div>
        </div>
    </li>
    <li>
        <input type="radio" checked name="tabs" id="tab2">
        <label for="tab2">Overall</label>
        <div id="tab-content2" class="tab-content animated fadeIn">
            <div id="chart1">
                <div id="explanation" >
                    <span id="percentage"></span><br/>
                    <span id="percentageDetail"></span>
                </div>
            </div>
            <div id="detailInfo"></div>
            <div table-info-view></div>
        </div>
    </li>
</ul>

<!-- template for tableInfo -->
<script type="text/ng-template" id="infoTable.html">
  <table>
    <tbody>
      <tr>
        <td>color-icon</td>
        <td>{{filename}}</td>
        <td>5.5m</td>
      </tr>
      <p>完整的Path for current directory</p>
      <tr ng-repeat="item in data.itemList" ng-click="showDetail(item)">
        <!-- 普通文件无法detail, 然后有个big small的toggle -->
        <td>color-icon</td>
        <td>{{item.name}}</td>
        <td>{{item.size}}</td><!-- filter -->
      </tr>
      <tr ng-show="!hasShowSmall" ng-click="showSmallHandler()">
        <td>color-icon</td>
        <td>... smaller objects ...</td>
        <td>5.5m</td><!-- filter and total size for smaller objects -->
      </tr>
    </tbody>
  </table>
</script>

<script src="js/angular.js"></script>
<script src="js/app/services.js"></script>
<script src="js/app/filters.js"></script>
<script>
    $( document ).ready(function() {
        $(".tabs").hide();
    });

    // show devtool icon
    require('nw.gui').Window.get().showDevTools();
    var _ = require('./js/lodash.min');

    var app = angular.module('diasyDiskApp', ['visServices', 'visFilters']);
    // define route here

    app.controller('selectFolderCtrl', ['$scope', 'visHelper', function($scope, visHelper){
      $scope.getDirHandler = function (){
        LZADialog.selectDir(function(file){
                console.log('complete callback: '+ file.path);
                var filePath =  file.path;
                // 放个message
                // 调取serice去scan path
                visHelper.scan(filePath);
                // scan(filePath);
            }
        );
      };
    }]);

    app.controller('sunBusrtViewCtrl', ['', function(){

      // watch scan data emit by service
    }]);

    app.controller('tableInfoViewCtrl', ['', function(){

      // watch scan data emit by service
    }]);

    app.directive('sunBusrtView', [function() {
      return {
        link: function($scope, $elem, $attr) {
          // begins first chart, modified, credit goes to kerryrodden from https://gist.github.com/kerryrodden/7090426,
          var width = 750;
          var height = 550;
          var radius = Math.min(width, height) / 2;

          // Mapping of file formats to colors, in beta version I tried random color for files, but it looks not that good.
          var colors = {
              "dir": "#5687d1",
              /*pictures same color*/
              "jpeg": "#9b59b6",
              "jpg": "#9b59b6",
              "png": "#9b59b6",
              "gif": "#9b59b6",
              "psd": "#9b59b6",
              /*audios same color*/
              "mp3": "#3498db",
              "wav": "#3498db",
              "wma": "#3498db",
              /*videos same color*/
              "wmv": "#2ecc71",
              "3gp": "#2ecc71",
              "mp4": "#2ecc71",
              "plv": "#2ecc71",
              "mpg": "#2ecc71",
              "mpeg": "#2ecc71",
              "mkv": "#2ecc71",
              "rm": "#2ecc71",
              "rmvb": "#2ecc71",
              "mov": "#2ecc71",
              /*office products same color*/
              "doc": "#1abc9c",
              "xls": "#1abc9c",
              "ppt": "#1abc9c",
              "docx": "#1abc9c",
              "xlsx": "#1abc9c",
              "pptx": "#1abc9c",
              /*mac products same color*/
              "pages": "#e74c3c",
              "key": "#e74c3c",
              "numbers": "#e74c3c",

              "pdf": "#7b615c",
              "epub": "#7b615c",
              /*programming langs*/
              "c": "#f1c40f",
              "cpp": "#f1c40f",
              "h": "#f1c40f",
              "html": "#f1c40f",
              "js": "#f1c40f",
              "css": "#f1c40f",
              "pl": "#f1c40f",
              "py": "#f1c40f",
              "php": "#f1c40f",
              "sql": "#f1c40f",
              "csv": "#de783b",
              "odp": "#de783b",
              /*zip files*/
              "gz": "#6ab975",
              "tar": "#6ab975",
              "rar": "#6ab975",
              "zip": "#6ab975",
              "7z": "#6ab975",
              "default": "#34495e"
          };

          // Total size of all segments; we set this later, after loading the data.
          var totalSize = 0;

          var vis = d3.select("#chart1").append("svg:svg")
              .attr("width", width)
              .attr("height", height)
              .append("svg:g")
              .attr("id", "container")
              .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

          var partition = d3.layout.partition()
              .size([2 * Math.PI, radius * radius])
              .value(function(d) {
                  return d.size;
              });

          var arc = d3.svg.arc()
              .startAngle(function(d) {
                  return d.x;
              })
              .endAngle(function(d) {
                  return d.x + d.dx;
              })
              .innerRadius(function(d) {
                  return Math.sqrt(d.y);
              })
              .outerRadius(function(d) {
                  return Math.sqrt(d.y + d.dy);
              });

          $scope.$on('data:sunBusrtView', function(ctx, val) {
            if(!val) return;
            createChart1(val);
          });

          // Main function to draw and set up the visualization, once we have the data.
          function createChart1(json) {
              vis.append("svg:circle")
                  .attr("r", radius)
                  .style("opacity", 0);

              // For efficiency, filter nodes to keep only those large enough to see.
              var nodes = partition.nodes(json)
                  .filter(function(d) {
                      return (d.dx > 0.005); // 0.005 radians = 0.29 degrees
                  });

              var path = vis.data([json]).selectAll("path")
                  .data(nodes)
                  .enter().append("svg:path")
                  .attr("display", function(d) {
                      return d.depth ? null : "none";
                  })
                  .attr("d", arc)
                  .attr("fill-rule", "evenodd")
                  .style("fill", function(d) {
                      return colors[d.type] ? colors[d.type] : colors["default"];
                  })
                  .style("opacity", 1)
                  .on("mouseover", mouseover);

              // Add the mouseleave handler to the bounding circle.
              d3.select("#container").on("mouseleave", mouseleave);

              // Get total size of the tree = value of root node from partition.
              totalSize = path.node().__data__.value;
          };

          // Fade all but the current sequence, and show it in the breadcrumb trail.
          function mouseover(d) {

              var percentage = (100 * d.value / totalSize).toPrecision(3);
              var percentageString = percentage + "%";
              if (percentage < 0.1) {
                  percentageString = "< 0.1%";
              }
              var percentageDetail = bytesToSize(d.value) + '/' + bytesToSize(totalSize);

              d3.select("#percentage")
                  .text(percentageString);
              d3.select("#percentageDetail")
                  .text(percentageDetail);

              d3.select("#explanation")
                  .style("visibility", "");

              var sequenceArray = getAncestors(d);
              //updateBreadcrumbs(sequenceArray, percentageString);
              var arrayLength = sequenceArray.length;
              var htmlString = '';
              //$("#sequence2").html(htmlString);
              for (var i = 0; i < arrayLength; i++) {
                  //console.log(nodeArray[i]);
                  var nodeType = sequenceArray[i].type;
                  if (nodeType == 'dir') {
                      htmlString += '<span style="color:' + colors[nodeType] + '">' + sequenceArray[i].name + '/</span>';
                  } else {
                      htmlString += '<span style="color:' + colors[nodeType] + '">' + sequenceArray[i].name + '</span>';
                  }
                  //Do something
              }
              //htmlString+= '&nbsp &nbsp &nbsp &nbsp <b>'+percentageString + '</b>';
              $("#detailInfo").html(htmlString);


              // Fade all the segments.
              d3.selectAll("path")
                  .style("opacity", 0.3);

              // Then highlight only those that are an ancestor of the current segment.
              vis.selectAll("path")
                  .filter(function(node) {
                      return (sequenceArray.indexOf(node) >= 0);
                  })
                  .style("opacity", 1);
          }

          // Restore everything to full opacity when moving off the visualization.
          function mouseleave(d) {

              // Hide the breadcrumb trail
              d3.select("#trail")
                  .style("visibility", "hidden");

              // Deactivate all segments during transition.
              d3.selectAll("path").on("mouseover", null);

              // Transition each segment to full opacity and then reactivate it.
              d3.selectAll("path")
                  .transition()
                  .duration(1000)
                  .style("opacity", 1)
                  .each("end", function() {
                      d3.select(this).on("mouseover", mouseover);
                  });

              d3.select("#explanation")
                  .transition()
                  .duration(1000)
                  .style("visibility", "hidden");
              $("#detailInfo").html("");
          }

          // Given a node in a partition layout, return an array of all of its ancestor
          // nodes, highest first, but excluding the root.
          function getAncestors(node) {
              var path = [];
              var current = node;
              while (current.parent) {
                  path.unshift(current);
                  current = current.parent;
              }
              return path;
          }
        }
      }
    }]);
    app.directive('tableInfoView', [function() {
      return {
        templateUrl: 'infoTable.html',
        link: function($scope, $elem, $attr) {
          $scope.$on('data:sunBusrtView', function(ctx, val) {
            if(!val) return;
            // tidy data for infoTable
            function getRecusiveSize(children) {
              var sum = 0;
              _.each(children, function(item) {
                if(item.children) {
                  return sum += getRecusiveSize(item.children);
                } else {
                  return sum += item.size;
                }
              });
              return sum;
            }
            _.each(val.children, function(item) {
              if(item && item.children) {
                item.size = getRecusiveSize(item.children);
              }
            });
            $scope.data = val;
            $scope.data.itemList = _.sortBy(val.children, 'size').reverse();
          });
        }
      }
    }]);
    angular.bootstrap(document, ['diasyDiskApp']);

    // app.controller('selectFolderCtrl', ['', function(){
    // }]);
</script>
<script src="js/rightclick.js"></script>
<!-- <script src="js/rendering.js"></script> -->
</body>
</html>



